:root {
    --text-color-dark: #0b1c3d ;
    --text-color-contrast:#F2F3F4;
    --main-color: #e2d2d6;
    --main-color-light: #F2F3F4;
    --main-color-medium: #e5e7e9;
    --contrast-color: #DC4A23;
    --contrast-color-light: #EB9781;
    --bg-body: #FFF7E8;
    --font-sans: 'Montserrat', sans-serif;
  }