:root {
    --text-color-dark: #0b1c3d ;
    --text-color-contrast:#F2F3F4;
    --main-color: #e2d2d6;
    --main-color-light: #F2F3F4;
    --main-color-dark: #454545;
    --main-color-medium: #999999;
    --font-sans: 'Montserrat', sans-serif;
  }